$primary: #1d1d1e;
$secondary: #1d1d1e;
$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;
.td-navbar .navbar-brand__name {
  display: none;
}
a:link {
  color: #30cd57;
}

a:visited {
  color: #30cd57;
}
html, body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  min-width: 100%;
}
div {
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
