$primary: #1d1d1e;
$secondary: #1d1d1e;
$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;
.td-navbar .navbar-brand__name {
  display: none;
}

a:link,
a:visited {
  color: #30cd57;
}

/* Add a new class or ID for the anchor elements on the "Contribute" webpage */
.contribute-link:link,
.contribute-link:visited {
  color: white; /* Set the color to white for the "Contribute" webpage */
}

footer {
    height: 10%;
}
