<style>
.taxonomy-term {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 5px;
}

.taxonomy-term a {
  color: white;
  text-decoration: none;
}

</style>

{{ $context := .context }}
{{ $taxo := .taxo }}
{{ if isset $context.Site.Taxonomies (lower $taxo) }}
  {{ $taxonomy := index $context.Site.Taxonomies (lower $taxo) }}
  {{ if (gt (len $taxonomy) 0)}}
    <div class="taxonomy taxonomy-terms-cloud taxo-{{ urlize $taxo }}">
      <div class="taxonomy-wrapper">
        {{ range $taxonomy }}
          {{ if ne .Page.Title "Hidden" }}
            <div class="taxonomy-term">
              <ul class="taxonomy-terms">
                <li>
                  <a class="taxonomy-count" href="{{ .Page.Permalink }}" data-taxonomy-term="{{ urlize .Page.Title }}">
                    <span class="taxonomy-label">{{ .Page.Title }}</span>
                    <span class="taxonomy-count">{{ .Count }}</span>
                  </a>
                </li>
              </ul>
            </div>
          {{ end }}
        {{ end }} 
      </div>
    </div>
  {{ end }}
{{ end }}

